<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Billing information</h5>
                    <form class="form-signin" ngNativeValidate (ngSubmit)="addBilling()">
                        <div class="form-label-group">
                            <input [(ngModel)]="billing.firstName" 
                                name="firstname" type="text" class="form-control"
                                placeholder="First name" required autofocus>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="billing.lastName" 
                                name="lastname" type="text" class="form-control"
                                placeholder="Last name" required autofocus>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="billing.country" 
                                name="country" type="text" class="form-control"
                                placeholder="Country" required>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="billing.locality" 
                                name="locality" type="text" class="form-control"
                                placeholder="Locality" required>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input  [(ngModel)]="billing.address" 
                                name="address" type="text" class="form-control"
                                placeholder="Address" required>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input  [(ngModel)]="billing.postalCode" 
                                name="postalcode" type="number" class="form-control"
                                placeholder="Postal code" required>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>