<div [hidden]="hide">
    <div class="alert {{color}} alert-dismissible fade show text-center" role="alert">
        <b>{{message}}</b>
        <button (click)="dismissAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>