<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a [routerLink]="" class="navbar-brand">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/catalog" class="nav-link" href="#">Catalog</a>
            </li>
            <li class="nav-item">
                <a routerLink="/cart" class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item">
                <a routerLink="/billing" class="nav-link" href="#">Billing</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a routerLink="/login" (click)="doSignOut()" class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </div>
</nav>
<app-alert></app-alert>
<router-outlet></router-outlet>
<app-footer></app-footer>