<app-navbar></app-navbar>
<div class="row mx-auto">
    <div *ngFor="let product of products" (click)="addToCart(product)" class="col-sm-3 p-3">
        <div class="clickable card text-center">
            <div class="card-header">{{ product.category }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
            </div>
            <div class="card-footer">
                <label *ngIf="product.stock > 0" class="text-success"><b>{{ product.price }} €</b></label>
                <label *ngIf="product.stock == 0" class="text-danger"><b>Out of stock</b></label>
            </div>
        </div>
    </div>
</div>