<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header text-center"><h5>My hopping cart</h5></div>
                <div *ngIf="products.length">
                    <div class="card-body">
                        <div *ngFor="let product of products" class="list-group-item">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-left">
                                    {{ product.name }} - <b>{{ product.price }} €</b>
                                </li>
                            </ul>
                        </div>
                        <br/>
                        <p><b>TOTAL: {{ getTotal() }}</b></p>
                    </div>
                </div>
                <div *ngIf="!products.length">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">You should try get some products :)</li>
                    </ul>
                </div>
                <button (click)="doPurchase()" class="btn btn-lg btn-primary btn-block" [disabled]="!products.length">Payment</button>
            </div>
        </div>
    </div>
</div>