<footer class="page-footer font-small bg-light fixed-bottom">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://google.es/"> <b>Ecommerce</b></a>
    </div>
</footer>