<app-alert></app-alert>
<div *ngIf="showLogin" class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Ecommerce</h5>
                    <form class="form-signin" ngNativeValidate (ngSubmit)="doLogin()">
                        <div class="form-label-group">
                            <input [(ngModel)]="user.username" 
                                name="username" type="username" class="form-control"
                                placeholder="User name" required autofocus>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="user.password" 
                                name="password" type="password" class="form-control"
                                placeholder="Password" required>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-lg btn-primary btn-block"
                            [disabled]="disableSubmit">Login</button>
                        <hr class="my-4">
                        <p>Don't have an account? <a (click)="changeContainer('signup')" [routerLink]="">Sign up here!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showSignup" class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create account</h5>
                    <form class="form-signin" ngNativeValidate (ngSubmit)="doSignup()">
                        <div class="form-label-group">
                            <select class="browser-default custom-select" (change)="user.setSalutation($event.target.value)">
                                <option *ngFor="let salutation of salutationEnum" value="{{salutation}}">{{salutation}}</option>
                            </select>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="user.firstName" 
                                name="firstname" type="text" class="form-control"
                                placeholder="First name" required autofocus>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="user.lastname" 
                                name="lastname" type="text" class="form-control"
                                placeholder="Last name" required>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="user.email" 
                                name="email" type="email" class="form-control"
                                placeholder="Email address" required>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="user.username" 
                                name="username" type="text" class="form-control"
                                placeholder="User name" required>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input [(ngModel)]="user.password" 
                                name="password" type="password" class="form-control"
                                placeholder="Password" required>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="disableSubmit">Sign
                            up</button>
                        <hr class="my-4">
                        <p>Already have an account? <a [routerLink]="" (click)="changeContainer('login')">Log in here!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>